<!DOCTYPE html>
<html lang="en">
<head>
	<%- include ('../partials/head') %>
</head>
<body class="container">

	<header>
		<%- include ('../partials/header') %>
	</header>

	<main>
		<div class="jumbotron">
			<h1>Aite</h1>
			<p>This is the new datingsite for gamers.</p>
		</div>
	</main>

	<section>
		<h2>Your favorite games</h2>

	</section>

	<section>
		<form action="/" method="POST">
			<label for="game1">Your favorite game:</label>
			<input type="text" id="game1" name="game1">

			<label for="game2">Your 2nd favorite game:</label>
			<input type="text" id="game2" name="name2">

			<label for="game3">Your 3th favorite game:</label>
			<input type="text" id="game3" name="name3">
			<input type="submit"> 
		</form>
	</section> 

	<footer>
		<%- include ('../partials/footer') %>
	</footer>
	
</body>
</html>