<!DOCTYPE html>
<html lang="en">

<head>
	<%- include ('../partials/head') %>
</head>

<body class="container">

	<header>
		<%- include ('../partials/header') %>
	</header>

	<main>
			<h1>MY MATCHES</h1>
			<p>SEARCH FOR MATCHES ON YOUR USERNAME</p>
    </main>
    
    <section>
        <form action="../../modules/searchUser.js" method="POST">
            <label for="userNameMatches">Your username:</label>
            <input type="text" id="userNameMatches" name="userNameMatches">

            <input type="submit">
        </form>
    </section>

	<footer>
		<%- include ('../partials/footer') %>
	</footer>

</body>

</html>