@import url("https://fonts.googleapis.com/css?family=Ubuntu|VT323&display=swap");

body {

  h1 {
    font-family: 'VT323', monospace;
    font-size: 5em;
  }

  p {
    font-family: 'Ubuntu', sans-serif;
  }
}